[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
artifacts/

[Ll]og/
[Ll]ogs/
*.log
*.binlog

[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
project.lock.json

AppPackages/
BundleArtifacts/
*.msix
*.msixupload
*.appx
*.appxbundle
*.appxupload

publish/
*.pubxml
PublishScripts/

_ReSharper*/
*.DotSettings.user
*.dotCover
.idea/

Generated\ Files/
*_wpftmp.csproj
